{
  "sources": [
    ["/home/cbs/projects/train/train/src/hdl/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/hdl/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/platform/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/platform/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/scripts/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/scripts/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sim/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sim/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/hdl/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/hdl/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/platform/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/platform/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/scripts/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/scripts/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/sim/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/sim/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/test/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/wolfsburg/src/test/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_basic_lib/**/*.vhd", {"library": "fb_basic_lib"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_basic_lib/**/*.vhdl", {"library": "fb_basic_lib"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_pcie_types/**/*.vhd", {"library": "fb_pcie_types"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_pcie_types/**/*.vhdl", {"library": "fb_pcie_types"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_scripts_lib/**/*.vhd", {"library": "fb_scripts_lib"}],
    ["/home/cbs/projects/train/train/src/sub_comp/fb_scripts_lib/**/*.vhdl", {"library": "fb_scripts_lib"}],
    ["/home/cbs/projects/train/train/src/sub_comp/osvvm/**/*.vhd", {"library": "osvvm"}],
    ["/home/cbs/projects/train/train/src/sub_comp/osvvm/**/*.vhdl", {"library": "osvvm"}],
    ["/home/cbs/projects/train/train/src/sub_comp/maxids/**/*.vhd", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/maxids/**/*.vhdl", {"library": "work"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_irqc/**/*.vhd", {"library": "bitvis_irqc"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_irqc/**/*.vhdl", {"library": "bitvis_irqc"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_uart/**/*.vhd", {"library": "bitvis_uart"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_uart/**/*.vhdl", {"library": "bitvis_uart"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_avalon_mm/**/*.vhd", {"library": "bitvis_vip_avalon_mm"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_avalon_mm/**/*.vhdl", {"library": "bitvis_vip_avalon_mm"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_axilite/**/*.vhd", {"library": "bitvis_vip_axilite"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_axilite/**/*.vhdl", {"library": "bitvis_vip_axilite"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_axistream/**/*.vhd", {"library": "bitvis_vip_axistream"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_axistream/**/*.vhdl", {"library": "bitvis_vip_axistream"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_clock_generator/**/*.vhd", {"library": "bitvis_vip_clock_generator"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_clock_generator/**/*.vhdl", {"library": "bitvis_vip_clock_generator"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_gpio/**/*.vhd", {"library": "bitvis_vip_gpio"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_gpio/**/*.vhdl", {"library": "bitvis_vip_gpio"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_i2c/**/*.vhd", {"library": "bitvis_vip_i2c"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_i2c/**/*.vhdl", {"library": "bitvis_vip_i2c"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_sbi/**/*.vhd", {"library": "bitvis_vip_sbi"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_sbi/**/*.vhdl", {"library": "bitvis_vip_sbi"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_scoreboard/**/*.vhd", {"library": "bitvis_vip_scoreboard"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_scoreboard/**/*.vhdl", {"library": "bitvis_vip_scoreboard"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_spi/**/*.vhd", {"library": "bitvis_vip_spi"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_spi/**/*.vhdl", {"library": "bitvis_vip_spi"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_uart/**/*.vhd", {"library": "bitvis_vip_uart"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/bitvis_vip_uart/**/*.vhdl", {"library": "bitvis_vip_uart"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/sdk_adaptation/**/*.vhd", {"library": "sdk_adaptation"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/sdk_adaptation/**/*.vhdl", {"library": "sdk_adaptation"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/sdk_vip_pcie_axis/**/*.vhd", {"library": "sdk_vip_pcie_axis"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/sdk_vip_pcie_axis/**/*.vhdl", {"library": "sdk_vip_pcie_axis"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/uvvm_util/**/*.vhd", {"library": "uvvm_util"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/uvvm_util/**/*.vhdl", {"library": "uvvm_util"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/uvvm_vvc_framework/**/*.vhd", {"library": "uvvm_vvc_framework"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/uvvm_vvc_framework/**/*.vhdl", {"library": "uvvm_vvc_framework"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/xConstrRandFuncCov/**/*.vhd", {"library": "ConstrRandFuncCov"}],
    ["/home/cbs/projects/train/train/src/sub_comp/uvvm/xConstrRandFuncCov/**/*.vhdl", {"library": "ConstrRandFuncCov"}]
  ],

  "vhdl": {
      "flags": {
        "single": ["--warn-runtime-error", "--warn-reserved", "--warn-unused"],
        "dependencies": [],
        "global": ["-fexplicit", "-frelaxed-rules", "-Wbinding", "-Wlibrary", "-Wbody", "--std=08"]
      }
    }
}
