{
    "sources": [
        ["src/example_function.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/package_sha256_common.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/pll.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sb_uart_sbi_demo_tb.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_digest.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_padding.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_top.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_top_24bit_tb.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_top_256bit_tb.vhd", { "library": "work", "flags": ["-2008"] } ],
        ["src/sha256core_wrapper.vhd", { "library": "work", "flags": ["-2008"] } ],

        ["lib/vhdl_libraries/2008/std/textio.vhd", { "library": "ieee2008", "flags": ["-2008"] } ],
        ["lib/vhdl_libraries/2008/std/env.vhd", { "library": "ieee2008", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_spi/src/spi_vvc.vhd", { "library": "bitvis_vip_spi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_spi/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_spi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_spi/src/spi_bfm_pkg.vhd", { "library": "bitvis_vip_spi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_spi/src/vvc_context.vhd", { "library": "bitvis_vip_spi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_spi/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_spi", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_axilite/src/axilite_bfm_pkg.vhd", { "library": "bitvis_vip_axilite", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axilite/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_axilite", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axilite/src/axilite_vvc.vhd", { "library": "bitvis_vip_axilite", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axilite/src/vvc_context.vhd", { "library": "bitvis_vip_axilite", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axilite/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_axilite", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_irqc/src/irqc.vhd", { "library": "bitvis_irqc", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_irqc/src/irqc_pif_pkg.vhd", { "library": "bitvis_irqc", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_irqc/src/irqc_pif.vhd", { "library": "bitvis_irqc", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_irqc/src/irqc_core.vhd", { "library": "bitvis_irqc", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_irqc/tb/irqc_tb.vhd", { "library": "bitvis_irqc", "flags": ["-2008"] } ],

        ["lib/UVVM/uvvm_vvc_framework/src_target_dependent/td_queue_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src_target_dependent/td_vvc_framework_common_methods_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src_target_dependent/td_target_support_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src_target_dependent/td_vvc_entity_support_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_vvc_framework_support_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_data_queue_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_uvvm_engine.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_data_stack_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_generic_queue_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_vvc_framework/src/ti_data_fifo_pkg.vhd", { "library": "uvvm_vvc_framework", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_i2c/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_i2c", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_i2c/src/i2c_bfm_pkg.vhd", { "library": "bitvis_vip_i2c", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_i2c/src/vvc_context.vhd", { "library": "bitvis_vip_i2c", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_i2c/src/i2c_vvc.vhd", { "library": "bitvis_vip_i2c", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_i2c/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_i2c", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_scoreboard/demo/sb_uart_sbi_demo_tb.vhd", { "library": "bitvis_vip_scoreboard", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_scoreboard/src/generic_sb_pkg.vhd", { "library": "bitvis_vip_scoreboard", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_scoreboard/src/generic_sb_support_pkg.vhd", { "library": "bitvis_vip_scoreboard", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_scoreboard/src/predefined_sb.vhd", { "library": "bitvis_vip_scoreboard", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_uart/src/uart_bfm_pkg.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/uart_rx_vvc.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/vvc_context.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/uart_tx_vvc.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/uart_vvc.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_uart/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_uart", "flags": ["-2008"] } ],

        ["lib/UVVM/uvvm_util/src/adaptations_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/uvvm_util_context.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/global_signals_and_shared_variables_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/methods_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/protected_types_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/hierarchy_linked_list_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/license_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/string_methods_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/bfm_common_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/types_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],
        ["lib/UVVM/uvvm_util/src/alert_hierarchy_pkg.vhd", { "library": "uvvm_util", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_sbi/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_sbi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_sbi/src/sbi_vvc.vhd", { "library": "bitvis_vip_sbi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_sbi/src/sbi_bfm_pkg.vhd", { "library": "bitvis_vip_sbi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_sbi/src/vvc_context.vhd", { "library": "bitvis_vip_sbi", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_sbi/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_sbi", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_gpio/src/gpio_vvc.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_gpio/src/gpio_bfm_pkg.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_gpio/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_gpio/src/vvc_context.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_gpio/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_gpio/tb/gpio_vip_tb.vhd", { "library": "bitvis_vip_gpio", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_uart/src/uart.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/src/uart_pkg.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/src/uart_core.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/src/uart_pif_pkg.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/src/uart_pif.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/tb/uart_vvc_th.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_uart/tb/uart_vvc_tb.vhd", { "library": "bitvis_uart", "flags": ["-2008"] } ],

        ["lib/UVVM/xConstrRandFuncCov/src/RandomPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/OsvvmGlobalPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/VendorCovApiPkg_Aldec.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/AlertLogPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/SortListPkg_int.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/NamePkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/MessagePkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/VendorCovApiPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/CoveragePkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/RandomBasePkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/TextUtilPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],
        ["lib/UVVM/xConstrRandFuncCov/src/TranscriptPkg.vhd", { "library": "xConstrRandFuncCov", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_axistream/src/axistream_bfm_pkg.vhd", { "library": "bitvis_vip_axistream", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axistream/src/axistream_vvc.vhd", { "library": "bitvis_vip_axistream", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axistream/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_axistream", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axistream/src/vvc_context.vhd", { "library": "bitvis_vip_axistream", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_axistream/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_axistream", "flags": ["-2008"] } ],

        ["lib/UVVM/bitvis_vip_clock_generator/src/vvc_methods_pkg.vhd", { "library": "bitvis_vip_clock_generator", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_clock_generator/src/clock_generator_vvc.vhd", { "library": "bitvis_vip_clock_generator", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_clock_generator/src/vvc_context.vhd", { "library": "bitvis_vip_clock_generator", "flags": ["-2008"] } ],
        ["lib/UVVM/bitvis_vip_clock_generator/src/vvc_cmd_pkg.vhd", { "library": "bitvis_vip_clock_generator", "flags": ["-2008"] } ]
    ]
}
