{
  "sources": [
    ["/home/chrbirks/github/dev_env/example_code/vhdl/**/*.vhd*", {"library": "work"}]
  ],

  "vhdl": {
      "flags": {
        "single": [],
        "dependencies": [],
        "global": ["--std=08"]
      }
    },
    "verilog": {
      "flags": {
        "single": [],
        "dependencies": [],
        "global": []
      }
    },
    "systemverilog": {
      "flags": {
        "single": [],
        "dependencies": [],
        "global": []
      }
    }
}